<div class="profile-img">
                <img src="images/profile.webp" alt="profile">
            </div>
            <div class="profile-text">
                <h2>Apri 👋</h2>
                <p><span  class="desk">A Passionate</span><span> Flutter Developer 📱.</span></p>
            </div>
            <div class="email">
                <button id="copy-email"><span class="material-symbols-outlined">mail</span><span>Copy-Email</span></button>
            </div>
            <div class="social">
                <a href="https://github.com/BgApii"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/apri_supandi"><i class="fa-brands fa-instagram"></i></a>
                <a href="apps.html"><i class="fa-brands fa-flutter"></i></a>
            </div>
